<!--
<div class="row">
<div class="col-lg-12">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">Anguish</a></li>
                <li><a href="#tab2default" data-toggle="tab">English</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default"><pre>@@anguish@@</pre></div>
                <div class="tab-pane fade" id="tab2default"><pre>@@english@@</pre></div>
            </div>
        </div>
    </div>
</div>
</div>
-->
<div class="col-lg-12">
    <div class="page-header">
        <h1>Example.</h1>
    </div>
    <div class="tabPanel-widget">
        <label for="tab-1" tabindex="0"></label>
        <input id="tab-1" type="radio" name="tabs" checked="true" aria-hidden="true">
        <h2>Anguish</h2>
        <div>
            <pre>@@anguish@@</pre>
        </div>
        <label for="tab-2" tabi ndex="0"></label>
        <input id="tab-2" type="radio" name="tabs" aria-h idden="true">
        <h2>English</h2>
        <div>
            <pre>@@english@@</pre>
        </div>
    </div>
</div>
